name: docker-tests-flux

services:

  # See https://caddyserver.com/docs/quick-starts/reverse-proxy for more information on using Caddy as a reverse proxy
  # and load balancer.
  # This is commented out by default to avoid intermittent issues on Jenkins. You can uncomment it to test locally.
#  caddy-load-balancer:
#    image: caddy:2-alpine
#    volumes:
#      - ./test-app/caddy/config/Caddyfile:/etc/caddy/Caddyfile
#    ports:
#      # Expand this range as needed. See Caddyfile for which ports are used for reverse proxies.
#      - 8006:8006
#      - 8007:8007

  marklogic:
    image: "ml-docker-db-dev-tierpoint.bed-artifactory.bedford.progress.com/marklogic/marklogic-server-ubi:latest-12"
    platform: linux/amd64
    environment:
      - MARKLOGIC_INIT=true
      - MARKLOGIC_ADMIN_USERNAME=admin
      - MARKLOGIC_ADMIN_PASSWORD=admin
    volumes:
      - ./docker/marklogic/logs:/var/opt/MarkLogic/Logs
    ports:
      - 8000-8005:8000-8005

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data
      # Simplifies restoring the dvdrental.tar into Postgres.
      - ./docker/postgres:/opt
    ports:
      - "5432:5432"

  # Postgres DVD rental example - https://www.postgresqltutorial.com/postgresql-getting-started/postgresql-sample-database/
  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: postgres@pgadmin.com
      PGADMIN_DEFAULT_PASSWORD: postgres
      PGADMIN_LISTEN_PORT: 80
    ports:
      - 5480:80
    depends_on:
      - postgres

  # Using Ollama for testing an embedding model.
  # See https://github.com/ollama/ollama for more information.
  ollama:
    image: "ollama/ollama"
    ports:
      - 8008:11434

volumes:
  postgresql:
  postgresql_data:
