version: '3.8'

name: flux

services:

  # See https://caddyserver.com/docs/quick-starts/reverse-proxy for more information on using Caddy as a reverse proxy
  # and load balancer.
  caddy-load-balancer:
    image: caddy:2-alpine
    volumes:
      - ./test-app/caddy/data:/data
      - ./test-app/caddy/config/Caddyfile:/etc/caddy/Caddyfile
    ports:
      # Expand this range as needed. See Caddyfile for which ports are used for reverse proxies.
      - 8006:8006
      - 8007:8007

  marklogic:
    image: "marklogicdb/marklogic-db:11.2.0-centos-1.1.2"
    platform: linux/amd64
    environment:
      - MARKLOGIC_INIT=true
      - MARKLOGIC_ADMIN_USERNAME=admin
      - MARKLOGIC_ADMIN_PASSWORD=admin
    volumes:
      - ./docker/marklogic/logs:/var/opt/MarkLogic/Logs
    ports:
      - 8000-8005:8000-8005

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data
      # Simplifies restoring the dvdrental.tar into Postgres.
      - ./docker/postgres:/opt
    ports:
      - "5432:5432"

  # Postgres DVD rental example - https://www.postgresqltutorial.com/postgresql-getting-started/postgresql-sample-database/
  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: postgres@pgadmin.com
      PGADMIN_DEFAULT_PASSWORD: postgres
      PGADMIN_LISTEN_PORT: 80
    ports:
      - 15432:80
    depends_on:
      - postgres

  # Copied from https://docs.sonarsource.com/sonarqube/latest/setup-and-upgrade/install-the-server/#example-docker-compose-configuration .
  sonarqube:
    image: sonarqube:10.6.0-community
    depends_on:
      - postgres
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://postgres:5432/postgres
      SONAR_JDBC_USERNAME: postgres
      SONAR_JDBC_PASSWORD: postgres
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    ports:
      - "9000:9000"

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  postgresql:
  postgresql_data:
